html
    head 
        title jobs finder
      
        //- bower:css
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        //- endbower:css

        //- bower:js
        script(src='/bower_components/angular/angular.js')
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        //- endbower:js
        
        //- inject:css
        link(rel="stylesheet", href="/assets/css/style.css")
        //- endinject

        //- inject:js
        script(src="/assets/js/app.js")
        //- endinject


    body(ng-app="app")
        div(ng-controller="testController")
        .list-group(ng-reapet="jobs as job")
            a.link.list-group-item.active(href="#")
                h4.list-group-item-heading  {{ job.title}}
                p.list-group-item-test {{ job.description }}


        

.list-group
    a.list-group-item.active(href='#')
        h4.list-group-item-heading
        p.list-group-item-text ...
