html
    head 
        title jobs finder
      
        //- bower:css
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        //- endbower:css

        //- bower:js
        script(src='/bower_components/angular/angular.js')
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/bower_components/angular-resource/angular-resource.js')
        //- endbower:js
        
        //- inject:css
        link(rel="stylesheet", href="/assets/css/style.css")
        //- endinject

        //- inject:js
        script(src="/assets/js/app.js")
        //- endinject


    body(ng-app="app")
        .controller(ng-controller="testController")
            .row
                .col-md-6.col-md-offset-3
                    h2.text-center Find Jobs Close To You
                    .search-job
                        form
                            input.form-control(type="text" placeholde="Find jobs")
                    .list-group
                        a.link.list-group-item(href="#" ng-repeat="job in jobs")
                            h4.list-group-item-heading  {{ job.title }}
                            p.list-group-item-test {{ job.description }}


        

